@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* font-family: "Kaushan Script", cursive; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: 0px;
}

/* body {
  font-family: "Kaushan Script", cursive;
} */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(255, 228, 196);
}


.cta i {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  padding: 20px 20px;
  color: black;
}

.logo img {
  display: flex;
  width: 70px;
  height: 60px;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10%;
}

.first-row p:nth-of-type(1) {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}

.first-row p:nth-of-type(2) {
  text-align: center;
  padding-bottom: 15px;
}

.first-row p:nth-of-type(3) {
  text-align: center;
  padding-bottom: 30px;
}

.first-row button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  border-radius: 150px;
  border: solid 1px;
  background-color: white;
  margin: auto;
  border-color: #ffc000;
}

.first-row button:hover {
  background-color: #ffc000;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 100px;
}

.second-row p:nth-of-type(1) {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

.second-row p:nth-of-type(2) {
  text-align: center;
  padding-bottom: 15px;
}

.second-row p:nth-of-type(3) {
  text-align: center;
  padding-bottom: 30px;
}

.second-row button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  border-radius: 150px;
  border: solid 1px;
  background-color: white;
  margin: auto;
  border-color: #ffc000;
}

.second-row button:hover {
  background-color: #ffc000;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.third-row p:nth-of-type(1) {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

.third-row p:nth-of-type(2) {
  text-align: center;
  padding-bottom: 15px;
}

.third-row p:nth-of-type(3) {
  text-align: center;
  padding-bottom: 30px;
}

.third-row button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  border-radius: 150px;
  border: solid 1px;
  background-color: white;
  margin: auto;
  border-color: #ffc000;
}

.third-row button:hover {
  background-color: #ffc000;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.discover img {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlayers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.overlays {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  position: relative;
}

.overlays img:nth-of-type(1) {
  display: block;
  width: fit-content;
}

.overlays img:nth-of-type(2) {
  position: absolute;
  top: 10%;
  left: 0%;
}

.overlays img:nth-of-type(3) {
  position: absolute;
  bottom: -25%;
  right: 15%;
}

.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: -50%;
  margin-top: -5%;
}

.download > p {
  font-size: 60px;

  padding-bottom: 20%;
}

.discover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.discover-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover-text img {
  position: relative;
  margin: auto;
  display: block;
}

.discover-text p {
  position: absolute;
  text-align: center;
}

.discover-text p:nth-of-type(1) {
  text-transform: uppercase;
  padding-bottom: 2%;
  color: #645d5d;
  font-size: small;
  margin-top: -10%;
}

.discover-text p:nth-of-type(2) {
  padding-bottom: 5%;
  color: black;
  font-size: 60px;
  margin-top: 0%;
  font-family: "Kaushan Script", cursive;
}

.discover-text button {
  position: absolute;
  padding: 1% 2%;
  border-radius: 150px;
  border: none;
  background-color: #ffc000;
  color: white;
  bottom: -285%;
}

.discover-text button:hover {
  background-color: white;
  color: #ffc000;
  transition: background-color 0.2s ease-in-out;
}

.apple {
  padding: 8% 10%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.apple i {
  margin: auto;
}

.apple-text {
  display: flex;
  flex-direction: column;
}

.apple-text p:nth-of-type(1) {
  font-size: large;
  font-weight: 600;
  color: black;
  text-align: left;
}

.apple-text p:nth-of-type(2) {
  color: black;
  font-weight: 100;
}

.android {
  padding: 8% 10%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.android i {
  margin: auto;
}

.android-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.android-text p:nth-of-type(1) {
  font-size: large;
  font-weight: 600;
}

.android-text p:nth-of-type(2) {
  color: #c2c1c1;
  transition: 0.3 color;
}

.apple-android {
  gap: 15px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -20%;
  left: 0%;
}

.apple-android button:nth-of-type(1) {
  background-color: #ffc000;
  border: none;
}

.apple-android button:nth-of-type(1):hover {
  color: #c2c1c1;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: solid 1px;
  border-color: #c2c1c1;
}

.apple-android button:nth-of-type(2) i {
  color: #c2c1c1;
}
.apple-android button:nth-of-type(2) {
  background-color: #ffffff;
  border: solid 1px;
  border-color: #c2c1c1;
}

.apple-android button:nth-of-type(2):hover {
  color: black;
  background-color: #ffc000;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.apple-android button:nth-of-type(2):hover i {
  color: black;
  transition: color 0.2s ease-in-out;
}

.apple-android button:nth-of-type(2):hover p {
  color: black;
}
